body {
  background-color: #ffc934;
  font-family: arial;
}

div {
  /* border: 1px solid rgb(255, 255, 255);
  border-radius: 2px; */
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4235e;
  border-radius: 6px;
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #c4235e;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 36px;
  color: black;
}
.main {
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.right-bar {
  padding: 10px;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: transparent;
  width: 300px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 40em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  /* background-color: black;
  color: white; */
  background-color: rgb(165, 165, 165);
  color: black;
  transform: rotateY(180deg);
}

.question,
.answer,
.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* rows and columns for AddQuestion styling */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 25% 0 25%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
}

#submit {
  margin: 0 0 0 71%;
}

#headerbtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#cards-header {
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-decoration: none;
}

ul li {
  font-size: 0.7em;
}
